<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments :: th_head}">
</head>
<body>
    <header th:insert="~{fragments :: th_header}"></header>
    <div class="container my-5 mx-auto text-center">
        <div class="row mt-2">
            <div th:if="${param.success}" class="col-sm-8">
                   <p class="alert alert-info">Registration successful!<br>Please login.</p>
            </div>
        </div>
    </div>
    <h1 class="text-center pb-3 mb-3">Jewelry List</h1>
    <div class="container px-0">
        <div class="row justify-content-center">
            <div class="px-0">
                <table class="table table-hover mx-auto  rounded-3">
                    <thead class="table-primary">
                        <tr>
                            <th>No.</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Quantity in stock</th>
                            <th>Date added</th>
                            <th>Status</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item, stat : ${items}">
                            <th:block th:if="${item != null}">
                                <td th:text="${stat.index + 1}"></td>
                                <td th:text="${item.name}"></td>
                                <td th:text="${item.category}"></td>
                                <td th:text="${item.price}"></td>
                                <td th:text="${item.quantityStock}"></td>
                                <td th:text="${item.dateAdded}"></td>
                                <td>
                                    <span th:if="${item.status.name == 'OutOfStock'}">Out of Stock</span>
                                    <span th:if="${item.status.name != 'OutOfStock'}">Available</span>
                                </td>
                                <!-- <td th:text="${item.status}"></td> -->
                                <td>
                                    <a href="#" 
                                        data-bs-toggle="modal" 
                                        data-bs-target="#updateItem"
                                        th:data-id="${item.id}"
                                        th:data-name="${item.name}"
                                        th:data-cat="${item.category}"
                                        th:data-price="${item.price}"
                                        th:data-stock="${item.quantityStock}"
                                        id="'updateModalLink' + ${stat.index + 1}"
                                        class="updateBtn">
                                        
                                        <i class="fa-regular fa-pen-to-square fa-2xl px-2"></i>
                                    </a>                               
                                    <a  href="" 
                                        data-bs-toggle="modal" 
                                        data-bs-target="#deleteItem"
                                        th:data-id="${item.id}"
                                        th:data-name="${item.name}"
                                        id="'deleteModalLink' + ${stat.index + 1}"
                                        class="deleteBtn">
                                        
                                        <i class="fa-regular fa-trash-can fa-2xl ps-2"></i>
                                    </a>
                                </td>
                            </th:block>
                        </tr>                        
                    </tbody>
                </table>
            </div>
        </div>    
    </div>  
    <div th:insert="~{fragments :: th_footer}"></div>
    <!-- Modal -->
    <div class="modal fade" id="updateItem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateItemLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Update Item</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form th:action="@{/update-item}" method="post" class="g-3 needs-validation" id="formUpdate">
                    <div class="modal-body col-12 row" id="updateForm">
                        <div class="mb-3 col-md-6">
                            <label for="name" class="col-form-label">Name</label>
                            <input type="text" required autofocus="autofocus" id="modalName" class="form-control" name="modalName">
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="categoryPicked" class="col-form-label">Category</label>
                            <select id="modalCategoryPicked" class="form-select" name="modalCategoryPicked" required>
                                <option selected>Necklace</option>
                                <option>Bracelet</option>
                                <option>Ring</option>
                                <option>Earring</option>
                            </select>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="price" class="col-form-label">Price</label>
                            <input type="number" required autofocus="autofocus" id="modalPrice" class="form-control" name="modalPrice">
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="quantityStock" class="col-form-label">Quantity in stock</label>
                            <input type="number" required autofocus="autofocus" id="modalQuantityStock" class="form-control" name="modalQuantityStock">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>                                               
                </form>
            </div>
        </div>
    </div>   
    <!-- Modal -->
    <div class="modal fade" id="deleteItem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteItemLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete Item: <span id="itemName"></span></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action="@{/delete-item}" method="post" class="g-3 needs-validation" id="formDelete">
                    <div class="modal-body col-12 row" id="deleteForm">
                        <div class="mb-3 col-md-6">
                            <p>Are you sure you want to delete this item?</label>
                        </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </div>                                               
                </form>
            </div>
        </div>
    </div>          
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            const updateModalLinks = document.querySelectorAll('.updateBtn');
            console.log(updateModalLinks);
            const deleteModalLinks = document.querySelectorAll('.deleteBtn');
            console.log(deleteModalLinks);

            if (updateModalLinks) {
                updateModalLinks.forEach(function(updateModalLink) {
                    updateModalLink.addEventListener('click', function(){
                        document.getElementById('modalName').value = updateModalLink.dataset.name;
                        document.getElementById('modalCategoryPicked').value = updateModalLink.dataset.cat;
                        document.getElementById('modalPrice').value = updateModalLink.dataset.price;
                        console.log(updateModalLink.dataset.stock);
                        document.getElementById('modalQuantityStock').value = updateModalLink.dataset.stock;
                        const itemId = updateModalLink.dataset.id;
                        console.log(updateModalLink.dataset.id);
                        
                        const form = document.querySelector('#formUpdate');
                        form.action = "/product/update-item?id=" + itemId;
                    });
                });
            } else {
                console.error("Elements with class 'UpdateModalLink' not found.");
            }

            if (deleteModalLinks) {
                deleteModalLinks.forEach(function(deleteModalLink) {
                    deleteModalLink.addEventListener('click', function(){
                        document.getElementById('itemName').innerHTML = deleteModalLink.dataset.name;
                        const itemId = deleteModalLink.dataset.id;
                        console.log(deleteModalLink.dataset.id);
                        
                        const form = document.querySelector('#formDelete');
                        form.action = "/product/delete-item?id=" + itemId;
                    });
                });
            } else {
                console.error("Elements with class 'UpdateModalLink' not found.");
            }
        });
    </script>
</body>
</html>
