<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments :: th_head}">
</head>
<body>
    <header th:insert="~{fragments :: th_header}"></header>
    <div class="container mx-auto my-5 text-center">
        <h1 class="fs-1">Error: 500 </h1>
        <h4>Oops, something went wrong!</h4>
        <h5>Our engineers are working on it.</h5>
        <img th:src="@{/images/undraw_QA_engineers.png}" class="mx-auto my-5"  alt="">
    </div>
    <div class="container mx-auto my-5 text-center">
        <a th:href="@{/}" class="btn btn-secondary p-3"><i class="fa-solid fa-house fa-2xl px-2"></i> Go Home</a>
    </div>
    <div th:insert="~{fragments :: th_footer}"></div>

</body>
</html>